.inc-dec {
    position: relative;
}

.btns-row {
    position: absolute;
    bottom: 5px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.btn {
    color: #aaaaaa;
    transition: var(--tran-03);
}

.btn:hover {
    color: #000;
}
.inc.disabled {
    pointer-events: none;
}
.dec.disabled {
    pointer-events: none;
}
