.offset-rows {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.offset-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* чтобы контейнер не превышал родителя */
    overflow-x: auto; /* скролл появляется здесь */
}
.name {
    font-size: 20px;
}
.checkbox {
}
.chart {
}
