.header {
    padding: 15px 25px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 86px;
}
.desc {
    font-size: 20px;
    font-weight: 400;
    font-weight: 600;
    margin-bottom: 20px;
}
.name {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: var(--primary-clr);
}
.profile-name {
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: var(--tran-03);
    transform: translateY(0px);
}
.profile-name:hover {
    color: var(--primary-clr);
    transform: translateY(-2px);
}
