.popup {
    position: relative;
    background-color: #fff;
}

.popup-content {
    position: absolute;

    min-width: 750px;
    max-height: 600px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: calc(100% + 30px);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgb(196, 196, 196);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: var(--tran-03);
}
.popup-content::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}
.popup-content.left {
    left: 0;
}
.popup-content.center {
    left: 50%;
    transform: translate(-50%, -10px);
}
.popup-content.right {
    right: 0;
}
.popup-content.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.popup__label {
    margin-bottom: 10px;
}
