.btns-row {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.content {
    padding: 20px;
}
.title {
    margin-bottom: 20px;
}
.controlled-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-row {
    display: flex;
    flex-direction: column;
}
.input-label {
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
}
.error-text {
    margin-top: 5px;
    font-size: 18px;
    color: red;
    text-align: left;
}
