.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.hiddenCheckbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.customCheckbox {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid var(--primary-clr);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.customCheckbox.checked {
    background-color: var(--primary-clr);
}

.checkmark {
    width: 12px;
    height: 12px;
    display: none;
    color: white;
}

.checked .checkmark {
    display: block;
}

.labelText {
    margin-left: 8px;
}
